<div class="popup__container">
    <div class="popup__header">
        <div class="popup__title popup-title">Zaloguj się</div>
        <div class="popup__close">
            <img src="{{ asset('custom/img/items/022-cancel.svg') }}" alt="">
        </div>
    </div>
    <div class="popup__body">
        <form action="{{ path('app_login') }}" method="POST"  id="login_form">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <input type="hidden" name="route" value="{{ csrf_token('authenticate') }}">
            <div class="popup__email">
                <label for="email" class="popup__label">E - mail</label>
                <input type="email" name="email" class="popup__input" placeholder="Twój adres e - mail">
            </div>
            <div class="popup__password">
                <label for="password" class="popup__label">Hasło</label>
                <input type="password" name="password" class="popup__input" placeholder="hasło do Twojego konta">
            </div>
            <div class="popup__forget">
                <a href="#">Zapomniałeś hasła?</a>
            </div>
            <button type="submit" id="ajax_login" class="button button-login">Załoguj się</button>
        </form>
    </div>
    <a href="#" class="popup__register-link" >Nie mam konta</a>
</div>