ul.categories .category__item,
ul.dimensions .dimension__item {
    display: flex;
    margin-bottom: 15px;
}

ul.categories .category__item .delete__button,
ul.dimensions .dimension__item .delete__button {
    margin-left: 15px;
}

.product__show .product__image {
    max-width: 300px;
}

.tab-content-translation {
    border: 1px solid #dee2e6;
    border-top: none;
    padding: 20px 20px;
}