@charset "UTF-8";

body {
  font-family: "Montserrat-Regular";
  color: #fff;
  background-image: url("../img/background.jpg");
  background-repeat: repeat-y;
  background-size: contain;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}

hr {
  height: 2px;
  opacity: 0.3;
  background-color: #ffffff;
}

@font-face {
  font-family: "Montserrat-Bold";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Montserrat-Extrabold";
  font-display: swap;
  src: url("../fonts/Montserrat-Extrabold.woff") format("woff"), url("../fonts/Montserrat-Extrabold.woff2") format("woff2");
  font-weight: 900;
  font-style: bolder;
}

@font-face {
  font-family: "Montserrat-Medium";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: "Montserrat-Regular";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: regular;
}

@font-face {
  font-family: "Ubuntu-Bold";
  font-display: swap;
  src: url("../fonts/Ubuntu-Bold.woff") format("woff"), url("../fonts/Ubuntu-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

.invalid-feedback {
  color: red;
}

label .invalid-feedback {
  display: none!important;
}

.button {
  width: 358px;
  height: 107px;
  border-radius: 53.5px;
  background-image: linear-gradient(to top, #fcb437, #ffa229);
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #19191c;
  font-family: "Montserrat-Bold";
  border-bottom: 5px solid #CC6D17;
  border-top: none;
  border-left: none;
  border-right: none;
  position: relative;
  overflow: hidden;
  transition: ease 0.3s;
  box-shadow: 0px 18px 46px 0 rgba(255, 117, 0, 0.42);
}

.button:hover {
  background-image: linear-gradient(to top, #fcc737, #ffba00);
  color: #19191c;
}

.button:after {
  content: "";
  display: block;
  width: 30px;
  height: 300px;
  margin-left: 60px;
  background: #fff;
  position: absolute;
  left: -40px;
  top: -150px;
  z-index: 1;
  transform: rotate(45deg);
  transition: all 0.1s;
  -webkit-animation-name: slideme;
  animation-name: slideme;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-delay: 0.05s;
  animation-delay: 0.05s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.button-main {
  margin-right: 96px;
}

.button-price {
  width: 165px;
  height: 51px;
  font-size: 14px;
  font-family: "Montserrat-Bold";
  color: #19191c;
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
}

.button-footer {
  width: 164px;
  height: 49px;
  color: #19191c;
  font-size: 14px;
}

.button-login,
.button-register {
  width: 100%;
  height: 80px;
  margin-bottom: 43px;
}

.button-cart {
  width: 320px;
  height: 80px;
  margin: 0 auto;
  font-size: 25px;
}

.button__more {
  display: block;
  width: 358px;
  margin: 0 auto;
  margin-bottom: 120px;
  padding: 27px 90px;
  border-radius: 53.5px;
  margin-top: 135px;
  border: solid 2px #fcb437;
  font-family: "Montserrat-Bold";
  font-size: 25px;
  color: #ffffff;
}

@-webkit-keyframes slideme {
  0% {
    left: -30px;
    margin-left: 0;
  }

  30% {
    left: 110%;
    margin-left: 80px;
  }

  100% {
    left: 110%;
    margin-left: 80px;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 180px;
  z-index: 100;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.header__logo {
  max-width: 120px;
}

.header__logo img {
  width: 100%;
}

.header__menu {
  margin-top: 40px;
}

.header__list {
  display: flex;
}

.header__item {
  margin: 0 20px;
}

.header__item:last-child {
  margin: 0;
}

.header__item a {
  font-family: "Montserrat-Medium";
  font-size: 20px;
  color: #e0e0e0;
}

.header__item a:hover {
  font-family: "Montserrat-Bold";
  color: #8dd240;
}

.header__right {
  display: flex;
  margin-top: 40px;
}

.header__phone {
  font-family: "Montserrat-Bold";
  font-size: 28px;
  color: #ffffff;
  display: block;
  line-height: 28px;
  margin-right: 66px;
}

.header__phone-mobile {
  display: none;
}

.header__dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.header__dropdown-mobile {
  display: none;
}

.header__dropdown .dropbtn {
  color: #fff !important;
  font-size: 20px;
  font-family: "Montserrat-Medium";
  text-transform: uppercase;
}

.header__dropdown .dropdown-content {
  display: none;
  position: absolute;
  min-width: 100px;
  z-index: 1;
}

.header__dropdown .dropdown-content a {
  color: #fff;
  font-size: 20px;
  display: block;
}

.header__login,
.header__logout,
.header__cart {
  display: block;
  width: 30px;
  height: 30px;
  margin-left: 26px;
}

.header .login__link {
  cursor: pointer;
}

.header__cart {
  position: relative;
  cursor: pointer;
}

.header .cart__badge {
  display: none;
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #48bd3c;
  top: 0;
  right: -8px;
  border-radius: 100%;
}

.header .cart__badge-active {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  min-height: 1200px;
  padding: 330px 0 0 0;
}

.main__bazilik {
  position: absolute;
  left: 0;
  width: 15%;
}

.main__pizza,
.main__sushi {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
}

.main__pizza-mobile,
.main__sushi-mobile {
  display: none;
}

.main__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.main__title {
  font-family: "Montseratt-Extrabold";
  font-weight: bolder;
  font-size: 60px;
  margin-bottom: 67px;
}

.main__title span {
  color: #8dd240;
}

.main__description {
  font-family: "Montserrat-Medium";
  font-size: 24px;
  margin-bottom: 80px;
}

.main .button__wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 150px;
}

.main .button__description {
  font-family: "Montserrat-Medium";
  font-size: 20px;
  color: #e0e0e0;
  line-height: 35px;
}

.main .button__description .a {
  justify-content: center;
  display: inline-flex;
  background-color: #A4D24E;
  border-radius: 5px;
  width: 145px;
  height: 38px;
  margin-left: 15px;
  transform: skew(-30deg);
}

.main .button__description .a span {
  font-weight: bold;
  color: #ffffff;
  transform: skew(30deg);
}

.main__advantages {
  display: flex;
}

.main__advantages .advantage__item {
  display: flex;
  align-items: center;
  margin-right: 111px;
}

.main__advantages .advantage__item img {
  margin-right: 24px;
}

.main__advantages .advantage__sushi {
  width: 65px;
}

.menu__title {
  text-align: center;
  font-family: "Montserrat-Bold";
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 60px;
}

.menu__tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.menu__tab {
  margin: 0 55px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menu__tab .tab__image {
  margin-left: 10px;
  width: 55px;
  height: 55px;
}

.menu__tab .tab__pizza {
  -webkit-mask: url("../img/menu/001-pizza.svg") no-repeat;
  mask: url("../img/menu/001-pizza.svg") no-repeat;
  background-color: #e0e0e0;
  -webkit-mask-size: cover;
  mask-size: cover;
  transform: rotate(180deg);
}

.menu__tab .tab__soda {
  -webkit-mask: url("../img/menu/011-soda.svg") no-repeat;
  mask: url("../img/menu/011-soda.svg") no-repeat;
  background-color: #e0e0e0;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.menu__tab .tab__sushi {
  -webkit-mask: url("../img/menu/010-sushi-1.svg") no-repeat;
  mask: url("../img/menu/010-sushi-1.svg") no-repeat;
  background-color: #e0e0e0;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.menu__tab-active {
  color: #B26319;
}

.menu__tab-active .tab__image {
  background-color: #B26319;
}

.menu__inner {
  flex-wrap: wrap;
  justify-content: center;
  display: none;
}

.menu__inner .row {
  width: 100%;
}

.menu__inner-active {
  display: flex;
}

.menu__item {
  padding: 48px 32px;
  min-height: 580px;
  border-radius: 7px;
  border: solid 2px #8dd240;
  background-color: rgba(39, 40, 44, 0.6);
  position: relative;
  margin-bottom: 55px;
}

.menu__item .item__body img {
  width: 100%;
  height: 230px;
}

.menu__item .item__subtitle {
  font-family: "Montserrat-Bold";
  font-size: 20px;
  color: #e0e0e0;
  margin-bottom: 27px;
  text-align: center;
}

.menu__item .item__description {
  font-size: 14px;
  color: #e0e0e0;
  margin-bottom: 35px;
}

.menu__item .price__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__item .price__wrapper .price {
  font-size: 24px;
  font-family: "Montserrat-Bold";
  color: #d8690c;
  text-transform: uppercase;
}

.menu__dimensions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.menu__dimension {
  display: flex;
  align-items: center;
}

.menu__dimension .dimension__text {
  font-size: 12px;
  color: #e0e0e0;
  margin-right: 11px;
}

.menu__dimension .dimension__image {
  width: 25px;
  height: 25px;
  -webkit-mask: url("../img/menu/023-pizza-2.svg") no-repeat;
  mask: url("../img/menu/023-pizza-2.svg") no-repeat;
  background-color: #e0e0e0;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.menu__dimension-active .dimension__text {
  color: #B26319;
}

.menu__dimension-active .dimension__image {
  background-color: #B26319;
}

.menu .sushi__categories {
  width: 100%;
  margin-bottom: 70px;
  display: flex;
  justify-content: space-between;
}

.menu .sushi__category {
  font-size: 20px;
  font-family: "Montserrat-Bold";
  color: #e0e0e0;
  text-align: center;
  padding: 16px 22px;
}

.menu .sushi__category.active {
  color: #ffa32a;
}

.menu .sushi__category-active {
  color: #ffa32a;
}

.menu .sushi .slick-current {
  border: solid 2px #ffa32a;
  border-radius: 53px;
}

.menu .sushi .owl-prev,
.menu .sushi .owl-next {
  display: block;
  width: 50px;
  height: 50px;
  border: solid 2px #ffa32a !important;
  border-radius: 100%;
  position: absolute;
  top: 0;
}

.menu .sushi .owl-prev img,
.menu .sushi .owl-next img {
  width: 25px;
}

.menu .sushi .owl-prev:hover,
.menu .sushi .owl-next:hover {
  background-color: unset;
}

.menu .sushi .owl-prev {
  left: -20px;
}

.menu .sushi .owl-next {
  right: -25px;
}

input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-group {
  width: 50%;
}

.input-group input[type="button"] {
  font-size: 35px;
  background: none;
  border: none;
  color: #8dd240;
}

.input-group .button-minus,
.input-group .button-plus {
  font-weight: bold;
  width: 25px;
  padding: 0;
}

.input-group .quantity-field {
  text-align: center;
  width: 40px;
}

.button-plus {
  left: -13px;
}

input[type="text"] {
  background: none;
  border: none;
  color: #fff;
  font-size: 26px;
  margin: 0;
}

.delivery {
  background: url("../img/vegetables.png") no-repeat;
  background-position: right top;
}

.delivery__title {
  font-size: 36px;
  font-family: "Montserrat-Bold";
  color: #ffffff;
  margin-bottom: 126px;
  margin-top: 55px;
  text-align: center;
}

.delivery__image img {
  width: 100%;
}

.delivery__item {
  margin-left: 120px;
  position: relative;
}

.delivery__item img {
  position: absolute;
  top: 85px;
  left: -145px;
  width: 106px;
  height: 129px;
}

.delivery__item:before {
  content: "01";
  position: absolute;
  left: -120px;
  font-size: 72px;
  line-height: 1.18;
  color: #8dd240;
  font-family: "Ubuntu-Bold";
}

.delivery__item-two {
  margin-left: 240px;
}

.delivery__item-two:before {
  content: "02";
}

.delivery__item-three {
  margin-left: 360px;
}

.delivery__item-three:before {
  content: "03";
}

.delivery__subtitle {
  font-size: 24px;
  font-family: "Montserrat-Bold";
  color: #ffffff;
  margin-bottom: 34px;
}

.delivery__description {
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 70px;
}

.footer {
  padding: 75px 0 50px 0;
}

.footer__wrapper {
  padding-bottom: 40px;
}

.footer__subtitle {
  font-size: 24px;
  font-family: "Montserrat-Bold";
  margin-bottom: 51px;
}

.footer__hours {
  font-size: 20px;
}

.footer__hours li {
  display: flex;
  justify-content: space-between;
}

.footer__contacts {
  font-size: 20px;
}

.footer__contacts li {
  margin-bottom: 30px;
}

.footer__contacts .phone {
  color: #ffa32a;
  display: block;
}

.footer__contacts .contact__item {
  margin-left: 40px;
  position: relative;
}

.footer__contacts .contact__item:before {
  content: "";
  position: absolute;
  left: -40px;
}

.footer__contacts .contact__item-one:before {
  background-image: url("../img/items/020-tool.svg");
  width: 20px;
  height: 28px;
  background-size: 100% 100%;
}

.footer__contacts .contact__item-two:before {
  background-image: url("../img/items/018-phone-call.svg");
  width: 20px;
  height: 28px;
  background-size: 100% 100%;
}

.footer__contacts .contact__item-three:before {
  background-image: url("../img/items/019-email.svg");
  width: 20px;
  height: 28px;
  background-size: 100% 100%;
}

.footer__socials {
  display: flex;
  margin-bottom: 110px;
}

.footer__social {
  margin-right: 22px;
  width: 45px;
  height: 45px;
  background-color: #8dd240;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.footer__social:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background-size: 100% 100%;
}

.footer__social-instagram:before {
  background-image: url("../img/items/016-instagram.svg");
}

.footer__social-facebook:before {
  background-image: url("../img/items/017-facebook.svg");
}

.footer__all-rights {
  text-align: center;
  font-size: 14px;
  margin-top: 48px;
}

.popup {
  background-color: rgba(32, 33, 38, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
  display: none;
}

.popup__container {
  max-width: 330px;
  margin: 0 auto;
}

.popup__login,
.popup__register,
.popup__gratitude,
.popup__cart {
  width: 478px;
  border-radius: 5px;
  box-shadow: 0px 18px 46px 0 rgba(0, 0, 0, 0.68);
  background-color: #2d2d31;
  z-index: 102;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 102;
  padding: 45px 0 50px 0;
}

.popup__login-active,
.popup__register-active,
.popup__gratitude-active,
.popup__cart-active {
  display: block;
}

.login_error, .login_success {
  display: none;
}

.login_error-active {
  display: block;
  color: red;
  margin-bottom: 10px;
}

.login_success-active {
  display: block;
  color: green;
  margin-bottom: 10px;
}

.popup__register .popup__password {
  margin-bottom: 45px;
}

.popup__register .checkbox__container {
  display: flex;
  margin-bottom: 40px;
}

.popup__register .checkbox__container .checkbox {
  display: none;
}

.popup__register .checkbox__container .checkbox + label {
  display: block;
  text-align: center;
  width: 33px;
  height: 33px;
  border-radius: 3px;
  border: solid 2px #8dd240;
  background-color: #2d2d31;
  margin-right: 15px;
  cursor: pointer;
}

.popup__register .checkbox__container .checkbox:not(:checked) + label:before {
  display: none;
}

.popup__register .checkbox__container .checkbox + label:before {
  content: '✔';
  font-size: 20px;
  color: #fff;
}

.popup__register .checkbox__container .checkbox__text {
  font-size: 12px;
  color: #aeaeae;
}

.popup__register-active {
  display: block;
}

.popup__header {
  display: flex;
  justify-content: space-between;
}

.empty__cart {
  text-align: center;
  font-size: 30px;
  margin-bottom: 55px;
}

.popup-title {
  font-size: 24px;
  font-family: "Montserrat-Bold";
}

.popup__title {
  margin-bottom: 55px;
}

.popup__close {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.popup__email {
  margin-bottom: 22px;
}

.popup__label {
  display: block;
  font-size: 16px;
  font-family: "Montserrat-Bold";
}

.popup__input {
  height: 70px;
  border: solid 2px #8dd240;
  border-color: #8dd240;
  background-color: #2d2d31;
  border-radius: 53.5px;
  width: 100%;
  padding: 0 36px;
  color: #fff;
}

.popup__forget {
  text-align: right;
  margin-bottom: 40px;
}

.popup__forget a {
  font-size: 14px;
  color: #7e7e7e;
  line-height: 2.9;
  text-decoration: underline;
}

.popup__register-link {
  font-size: 16px;
}

.popup-active {
  display: block;
}

.popup__gratitude {
  max-width: 570px;
}

.popup__gratitude .gratitude__header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 50px;
}

.popup__gratitude .gratitude__title {
  font-family: "Montserrat-Bold";
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 55px;
}

.popup__gratitude .gratitude__description {
  font-size: 19px;
  margin-bottom: 50px;
  text-align: center;
}

.popup__gratitude .gratitude__badge {
  width: 265px;
  height: 265px;
  border-radius: 100%;
  border: 5px solid #A4D24E;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup__gratitude .gratitude__badge .badge {
  width: 220px;
  height: 220px;
  border-radius: 100%;
  background-color: #A4D24E;
  position: relative;
}

.popup__gratitude .gratitude__badge .badge:before {
  content: '';
  background: url("../img/items/024-tick.svg") no-repeat;
  background-size: 130px 130px;
  width: 130px;
  height: 130px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.popup__gratitude-active {
  display: block;
}

.popup__cart {
  padding: 45px 45px;
  width: 570px;
  max-height: 800px;
}

.popup__cart .cart__container {
  max-height: 454px;
  overflow: auto;
}

.popup__cart .cart__item {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 45px 0;
  display: flex;
}

.popup__cart .cart__body {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
}

.popup__cart .cart__dimension {
  font-size: 15px;
  font-family: "Montserrat-Bold";
  color: #d8690c;
}

.category__tab {
  cursor: pointer;
}

.popup__cart .cart__image {
  width: 131px;
  margin-right: 11px;
}

.popup__cart .cart__image img {
  width: 100%;
}

.popup__cart .cart__subtitle {
  font-size: 14px;
  font-family: "Montserrat-Bold";
}

.popup__cart .cart__description {
  font-size: 12px;
  max-width: 250px;
}

.popup__cart .cart__price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 5px;
  margin-left: auto;
}

.popup__cart .cart__price .item__price {
  font-size: 24px;
  font-family: "Montserrat-Bold";
  color: #d8690c;
}

.popup__cart .cart__delete {
  font-size: 14px;
  color: #acacac;
  font-family: "Montserrat-Bold";
  cursor: pointer;
  text-align: right;
}

.popup__cart .cart__hr {
  height: 2px;
  background-color: #ffa32a;
  width: 100%;
  margin-bottom: 38px;
}

.popup__cart .cart__total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.popup__cart .cart__text {
  font-family: "Montserrat-Bold";
  font-size: 20px;
}

.popup__cart .cart__price {
  font-size: 24px;
  font-family: "Montserrat-Bold";
  color: #d8690c;
}

.popup__cart-active {
  display: block;
}

.back__link {
  font-size: 16px;
  color: #c5c5c5;
  font-family: "Montserrat-Bold";
  display: block;
  cursor: pointer;
}

.back__link img {
  width: 100%;
  width: 36px;
  height: 25px;
}

.order {
  padding: 45px 50px;
  background-color: rgba(45, 45, 49, 0.7);
  margin-bottom: 180px;
}

.order__main__header {
  padding: 50px 0;
  min-height: 190px;
  position: relative;
  display: flex;
  align-items: center;
}

.order__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}

.order__title {
  font-size: 35px;
  font-family: "Montserrat-Bold";
  margin-bottom: 50px;
}

.order__header {
  display: flex;
  justify-content: flex-end;
}

.order__close {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.order .mobile__count {
  display: flex;
  align-items: center;
}

.order__item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 45px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order__item:last-child {
  border-bottom: none;
}

.order__item .input-group {
  margin-right: 150px;
}

.order__image {
  width: 131px;
  margin-right: 58px;
}

.order__image img {
  width: 100%;
}

.order__subtitle {
  font-size: 14px;
  font-family: "Montserrat-Bold";
  margin-bottom: 23px;
}

.order__description {
  font-size: 12px;
  max-width: 400px;
  margin-right: 140px;
}

.order__price__container {
  justify-content: space-around;
}

.order__dimension, .order__product-count {
  font-size: 20px;
  font-family: "Montserrat-Bold";
  color: #d8690c;
}

.order__price {
  display: flex;
  margin-right: 5px;
}

.order__price .item__price {
  font-size: 24px;
  font-family: "Montserrat-Bold";
  color: #d8690c;
  margin-right: 190px;
}

.order__delete {
  font-size: 14px;
  color: #acacac;
  font-family: "Montserrat-Bold";
  cursor: pointer;
  text-align: right;
}

.order__hr {
  height: 2px;
  background-color: #ffa32a;
  width: 100%;
  margin-bottom: 38px;
}

.order__total {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 25px;
}

.order__text {
  font-family: "Montserrat-Bold";
  font-size: 20px;
  margin-right: 50px;
}

.order__price {
  font-size: 24px;
  font-family: "Montserrat-Bold";
  color: #d8690c;
}

.order__hr {
  height: 2px;
  background-color: #ffa32a;
  width: 100%;
  margin-bottom: 38px;
}

.payment {
  padding: 45px 50px;
  background-color: rgba(45, 45, 49, 0.7);
}

.payment__title {
  font-size: 35px;
  font-family: "Montserrat-Bold";
  margin-bottom: 80px;
}

.payment__title-delivery {
  margin-top: 60px;
}

.payment__input {
  height: 70px;
  border: solid 2px #8dd240 !important;
  border-radius: 53.5px;
  width: 100%;
  padding: 0 36px;
  background-color: unset;
  font-size: 26px;
}

.payment .row {
  margin-bottom: 30px;
}

.payment .row-2 {
  margin-bottom: 110px;
}

.payment__notes {
  margin-bottom: 90px;
}

.payment__notes textarea {
  height: 100px;
  border: solid 2px #8dd240 !important;
  border-radius: 20px;
  width: 100%;
  padding: 20px 36px;
  background-color: unset;
  color: #fff;
  font-size: 20px;
}

.payment__buttons {
  margin-top: 200px;
}

.payment__buttons .button-payment {
  height: 80px;
  width: 300px;
  font-size: 25px;
  padding: 20px;
}

.payment__buttons .button-back {
  height: 80px;
  padding: 20px;
  border-radius: 53.5px;
  margin-top: 20px;
  border: solid 2px #fcb437;
  font-family: "Montserrat-Bold";
  font-size: 25px;
  color: #fff;
  width: 300px;
  background-color: unset;
  display: block;
  text-align: center;
}

.payment__radio-container {
  display: flex;
  flex-direction: column;
}

.payment__radio-container label {
  margin-bottom: 15px;
}

.payment__radio-container [type="radio"]:checked,
.payment__radio-container [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.payment__radio-container [type="radio"]:checked + label,
.payment__radio-container [type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
}

.payment__radio-container [type="radio"]:checked + label:before,
.payment__radio-container [type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 23px;
  height: 23px;
  border: 2px solid #8dd240;
  border-radius: 100%;
  background: unset;
}

.payment__radio-container [type="radio"]:checked + label:after,
.payment__radio-container [type="radio"]:not(:checked) + label:after {
  content: '';
  width: 11px;
  height: 11px;
  background: #8dd240;
  position: absolute;
  top: 6px;
  left: 6px;
  border-radius: 100%;
  transition: all 0.2s ease;
}

.payment__radio-container [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}

.payment__radio-container [type="radio"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}

.payment .checkbox__container {
  display: flex;
  margin-bottom: 40px;
  font-size: 16px;
  color: #aeaeae;
}

.payment .checkbox__container a {
  color: #e90707;
}

.payment .checkbox__container .checkbox {
  display: none;
}

.payment .checkbox__container .checkbox + label {
  display: block;
  text-align: center;
  width: 33px;
  height: 33px;
  border-radius: 3px;
  border: solid 2px #8dd240;
  background-color: #2d2d31;
  margin-right: 15px;
  cursor: pointer;
}

.payment .checkbox__container .checkbox + label:before {
  content: '✔';
  font-size: 20px;
  color: #fff;
}

.payment .checkbox__container .checkbox:not(:checked) + label:before {
  display: none;
}

.payment .checkbox__container .checkbox__text {
  font-size: 12px;
  color: #aeaeae;
}

.footer__all-rights {
  margin-bottom: 50px;
}

@media (min-width: 1500px) {
  .container {
    max-width: 1440px;
  }
}

@media (min-width: 1921px) {
  .main__pizza {
    top: -50px;
    width: 45%;
  }

  .main__sushi {
    top: 50px;
  }
}

@media (max-width: 1201px) {
  .header__phone {
    margin-right: 25px;
    font-size: 17px;
  }

  .main__pizza,
  .main__sushi {
    max-width: 500px;
    top: 100px;
  }

  .main__bazilik {
    max-width: 200px;
    top: 120px;
  }

  .menu .item__body img {
    height: auto;
  }

  .menu .button__more {
    margin-top: 90px;
  }

  .delivery {
    background: none;
  }

  .delivery__title {
    margin-bottom: 0;
  }

  .delivery__item-one {
    margin-left: 360px;
  }

  .delivery__item-two {
    margin-left: 480px;
  }

  .delivery__item-three {
    margin-left: 600px;
  }

  .footer__item {
    margin-bottom: 20px;
  }

  .order {
    margin-bottom: 80px;
  }

  .order .input-group {
    display: flex;
    margin-right: 50px;
  }

  .order__price {
    align-items: center;
  }

  .order .item__price {
    margin-right: 90px;
  }

  .payment__title {
    margin-bottom: 40px;
  }

  .payment__buttons {
    margin-top: 50px;
  }
}

@media (max-width: 769px) {
  body {
    background-size: auto;
  }

  .header__phone {
    font-size: 22px;
  }

  .header__wrapper {
    align-items: center;
  }

  .header__menu {
    background-color: #27282c;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    margin: 0;
    left: 0;
    display: none;
    justify-content: center;
    z-index: 2;
  }

  .header__menu.active {
    display: flex;
  }

  .header__list {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .header__list li a {
    font-size: 50px;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 46px;
    height: 35px;
    z-index: 3;
  }

  .header__burger span {
    width: 100%;
    position: absolute;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    background-color: #fff;
    transition: .4s all;
  }

  .header__burger:before,
  .header__burger:after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: .4s all;
  }

  .header__burger:before {
    top: 0;
  }

  .header__burger:after {
    bottom: 0;
  }

  .header__burger.active:before {
    transform: rotate(45deg);
    top: 50%;
    transition: .4s all;
  }

  .header__burger.active:after {
    transform: rotate(-45deg);
    top: 50%;
    transition: .4s all;
  }

  .header__burger.active span {
    transform: scale(0);
    transition: .4s all;
  }

  .header__right {
    margin: 0;
  }

  .main {
    padding-top: 200px;
    min-height: 1070px;
  }

  .main__pizza,
  .main__sushi {
    display: none;
  }

  .main__bazilik {
    display: none;
  }

  .menu .item__body img {
    height: auto;
  }

  .menu .button__more {
    margin-top: 90px;
  }

  .delivery {
    background: none;
  }

  .delivery__title {
    margin-bottom: 40px;
  }

  .delivery__image {
    margin-bottom: 30px;
  }

  .delivery__item-one {
    margin-left: 240px;
  }

  .delivery__item-two {
    margin-left: 360px;
  }

  .delivery__item-three {
    margin-left: 480px;
  }

  .footer__subtitle {
    text-align: center;
  }

  .footer__item {
    margin-bottom: 20px;
  }

  .footer__socials {
    justify-content: center;
  }

  .footer .button-footer {
    margin: 0 auto;
  }

  .footer .button-footer:hover {
    color: #19191c;
  }

  .order__price {
    flex-direction: column-reverse;
  }

  .order__price .item__price {
    margin-right: 0;
  }

  .order__title,
  .payment__title {
    font-size: 30px;
  }
}

@media (max-width: 576px) {
  .menu .sushi .owl-prev {
    left: -15px;
  }
  .menu .sushi .owl-next {
    right: -15px;
  }

  .header__phone {
    display: none;
  }

  .header__phone-mobile {
    display: block;
    padding-top: 20px;
    color: #d8690c !important;
  }

  .header__logo {
    max-width: 60px;
    order: 2;
  }

  .header__dropdown {
    display: none;
  }

  .header__dropdown-mobile {
    display: flex;
    order: 3;
  }

  .header__dropdown .dropbtn img {
    height: 20px;
    width: 25px;
  }

  .header__dropdown .dropdown-content {
    top: 30px;
  }

  .header__dropdown .dropdown-content img {
    height: 20px;
    width: 25px;
  }

  .header__right {
    order: 1;
  }

  .header__burger {
    order: 4;
    height: 20px;
    width: 27px;
  }

  .header__login,
  .header__logout,
  .header__cart {
    margin-left: 0;
  }

  .header__login img,
  .header__logout img,
  .header__cart img {
    width: 25px;
    height: 25px;
  }

  .header__cart img {
    height: 30px;
  }

  .header__login,
  .header__logout {
    margin-right: 28px;
  }

  .header__list {
    align-items: center;
  }

  .header__list li a {
    font-size: 30px;
  }

  .main {
    min-height: 1000px;
    padding-top: 140px;
  }

  .main__title {
    font-size: 26px;
    text-align: center;
    margin-bottom: 35px;
  }

  .main__description {
    font-size: 18px;
    text-align: center;
    margin-bottom: 40px;
  }

  .main__advantages {
    display: flex;
    flex-direction: column;
  }

  .main .advantage__item {
    justify-content: center;
    margin: 0 0 30px 0;
  }

  .main .advantage__item br {
    display: none;
  }

  .main .button__wrapper {
    flex-direction: column;
    margin-bottom: 0;
  }

  .main .button-main {
    width: 246px;
    height: 75px;
    order: 2;
    margin: 0;
    font-size: 16px;
  }

  .main .button__description {
    text-align: center;
    order: 1;
    margin-bottom: 50px;
    font-size: 18px;
  }

  .main__pizza-mobile,
  .main__sushi-mobile {
    display: block;
    width: 105%;
    margin-bottom: 30px;
  }

  .menu__title {
    margin-bottom: 30px;
  }

  .menu .button__more {
    width: 246px;
    height: 60px;
    font-size: 16px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 55px auto;
  }

  .menu__tab {
    margin: 0 25px;
  }

  .delivery__item img {
    width: 50px;
    height: 60px;
    left: -110px;
  }

  .delivery__item-one {
    margin-left: 100px;
  }

  .delivery__item-two {
    margin-left: 140px;
  }

  .delivery__item-three {
    margin-left: 160px;
  }

  .delivery__item:before {
    font-size: 50px;
    left: -90px;
  }

  .delivery__subtitle {
    margin-bottom: 25px;
  }

  .delivery__description {
    font-size: 14px;
    margin-bottom: 35px;
  }

  .footer {
    padding: 20px 0 50px 0;
  }

  .footer .logo__wrapper {
    text-align: center;
    margin-bottom: 20px;
  }

  .footer__subtitle {
    text-align: center;
  }

  .footer__socials {
    justify-content: center;
    margin-bottom: 50px;
  }

  .footer__social {
    margin: 0 11px;
  }

  .footer .button-footer {
    margin: 0 auto;
  }

  .footer .contact__item-three {
    font-size: 16px;
  }

  .popup__login,
  .popup__register,
  .popup__gratitude,
  .popup__cart {
    padding: 30px;
    width: 350px;
    height: auto;
  }

  .popup__title {
    margin-bottom: 20px;
  }

  .popup__input {
    height: 60px;
  }

  .popup .button-login,
  .popup .button-register,
  .popup .button-cart {
    height: 70px;
    width: 100%;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .popup .cart__container {
    max-height: 240px;
  }

  .popup .cart__item {
    padding: 20px 0;
  }

  .popup .cart__image {
    width: 80px;
    margin-right: 7px;
  }

  .popup .cart__price .item__price {
    font-size: 17px;
  }

  .popup__forget {
    margin-bottom: 20px;
  }

  .popup .checkbox__container {
    margin-bottom: 20px;
  }

  .popup .gratitude__header {
    margin-bottom: 25px;
  }

  .popup .gratitude__title {
    font-size: 25px;
  }

  .popup .gratitude__description {
    font-size: 15px;
  }

  .order {
    padding: 30px 10px;
  }

  .order__image {
    margin-right: 10px;
    max-width: 100px;
  }

  .order__item {
    padding: 30px 0;
  }

  .order__description {
    margin-right: 0;
  }

  .order__main__header {
    padding: 40px 0;
    min-height: 125px;
  }

  .order__logo img {
    width: 80px;
  }

  .order .input-group {
    margin-right: 0;
  }

  .order .mobile__count {
    flex-direction: column-reverse;
  }

  .order__title,
  .payment__title {
    font-size: 25px;
  }

  .back__link {
    font-size: 10px;
  }

  .back__link img {
    width: 36px;
    height: 25px;
  }

  .payment {
    padding: 30px 10px;
  }

  .payment .col-12 {
    margin-bottom: 11px;
  }

  .payment .row-2 {
    margin-bottom: 30px;
  }

  .payment .button-payment {
    width: 100%;
    font-size: 20px;
  }

  .payment .button-back {
    width: 100%;
    font-size: 20px;
  }

  .payment__notes {
    margin-bottom: 40px;
  }
}

@media (max-width: 350px) {
  .menu .dimension__image {
    display: none;
  }
}

@media (min-width: 1202px) and (max-width: 1499px) {
  .dimension__image {
    display: none;
  }

  .order .input-group {
    display: flex;
  }
}

/*   new   */

.menu__dimension {
  cursor: pointer;
}