<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700">
        <link href="{{ asset('adminLTE/css/adminlte.min.css') }}" rel="stylesheet" type="text/css" />
        <link href="{{ asset('custom/css/main.css') }}" rel="stylesheet" type="text/css" />
        {% block stylesheets %}{% endblock %}
    </head>
    {% block body %}
    <body>
        {% block header %}
{#            {% include 'admin/structure/header.html.twig' %}#}
        {% endblock header %}

{#        {% include 'admin/structure/footer.html.twig' %}#}


        <script src="{{ asset('adminLTE/js/adminlte.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('custom/js/add-collection-widget.js') }}" type="text/javascript"></script>

        <script>
            $(document).on("change", ".custom-file-input", function(){
                let fileName = $(this).val().split('\\').pop();
                $(this).next('.custom-file-label').addClass("selected").html(fileName);
            });
        </script>
        {% block javascripts %}
        {% endblock %}

    </body>
    {% endblock %}
</html>
