{% block _product_productsDimensions_row %}
    <div class="form-group{% if form.vars.errors|length > 0 %} has-error{% endif %}">
        {{ form_label(form) }}
        <ul class="dimensions list-unstyled" data-prototype="{{ form_widget(form.vars.prototype)|e }}">
            {% for dimension in form %}
                <li class="dimension__item collection-item">
                    {{ form_row(dimension) }}
                </li>
            {% endfor %}
        </ul>
        {% do form.setRendered %}
    </div>
{% endblock %}

{% block _product_productsDimensions_entry_row %}
    {{ form_widget(form) }}
{% endblock %}